
<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Shop tài nguyên Netflix</title>
        <link rel="canonical" href="https://shop.muatainguyen.com/" />
        <meta name="description"
            content="Mua TN giá rẻ nhất thị trường! Hỗ trợ đặc quyền cho các nhà quảng cáo Online #1" />
        <meta name="keywords"
            content="netflix, cookie netflix, quét mã netflix, tài khoản netflix, acc netflix, netflix free, tài khoản netflix free, cookie netflix free">
        <meta name="copyright"
            content="TaiNguyenNETPHICH.click cung cấp tài nguyên Netflix miễn phí" />
        <meta name="author" content="HCM" />
        <!-- Favicon -->
        <link rel="shortcut icon"
            href="https://shop.muatainguyen.com/assets/storage/images/favicon_0TS.png" />

        <link
            href="https://shop.muatainguyen.com/public/assets/dist/all.min.css"
            rel="stylesheet">
        <script
            src="https://shop.muatainguyen.com/resources/js/jquery.js"></script>

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- sweetalert2-->
        <link class="main-stylesheet"
            href="https://shop.muatainguyen.com/public/sweetalert2/default.css"
            rel="stylesheet"
            type="text/css">
        <script
            src="https://shop.muatainguyen.com/public/sweetalert2/sweetalert2.js"></script>
        <!-- Cute Alert -->
        <link class="main-stylesheet"
            href="https://shop.muatainguyen.com/public/cute-alert/style.css"
            rel="stylesheet" type="text/css">
        <script
            src="https://shop.muatainguyen.com/public/cute-alert/cute-alert.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap"
            rel="stylesheet">
        <script
            src="https://shop.muatainguyen.com/public/assets/js/jquery-3.6.3.min.js"></script>
        <link rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async
            defer></script>

        <!-- Script Header -->
    </head>
    <style>
        .sidebar {

            overflow-y: hidden;

        }

        .sidebar.show-scroll-bar {
            overflow-y: scroll;
        }
    </style>
    <script>
        function showScrollBar() {
            var sidebar = document.querySelector('.sidebar');
            sidebar.classList.add('show-scroll-bar');
        }

        function hideScrollBar() {
            var sidebar = document.querySelector('.sidebar');
            sidebar.classList.remove('show-scroll-bar');
        }
    </script>

    <body data-bs-theme="light" class="pb-5 mb-5 pb-lg-0 mb-lg-0">
        <div class="backdrop" onclick="closeMenu()">
            <button type="button"><i class="ri-close-line"></i></button>
        </div>

        <div id="panel" onmouseenter="showScrollBar()" class="sidebar"
            onmouseleave="hideScrollBar()"
            class="border-end shadow-sm">
            <div class="p-3">
                <a class="d-block btn-nap text-decoration-none"
                    href="https://shop.muatainguyen.com/client/login">
                    <span
                        class="d-flex align-items-center justify-content-center">
                        <img
                            src="https://shop.muatainguyen.com/public/assets/img/login.png"
                            height="30" class="me-2">
                        Đăng nhập </span>
                    <span class="btn-nap2"></span>
                </a>
            </div>

            <nav>
                <div class="menu-divider border-top p-3">
                    <span class="px-2">Hệ thống</span>
                </div>
                <ul class="pb-3">
                    <li class="mx-3 mb-1 rounded active">
                        <a href="https://shop.muatainguyen.com/client/home"
                            class="d-block p-2 text-decoration-none">
                            <img
                                src="https://cdn3d.iconscout.com/3d/free/thumb/free-netflix-2950136-2447898.png"
                                height="30" width="30"
                                class="me-3">Hệ thống netflix </a>
                    </li>
                </ul>
                <div class="menu-divider border-top p-3">
                    <span class="px-2">Công cụ</span>
                </div>
                <ul class="pb-3">

                    <li class="mx-3 mb-1 rounded ">
                        <a
                            href="https://shop.muatainguyen.com/client/tool-check-live-fb"
                            class="d-block p-2 text-decoration-none">
                            <img
                                src="https://shop.muatainguyen.com/public/assets/img/tool-check-live-fb.png"
                                height="30" width="30"
                                class="me-3">Check Live Facebook </a>
                    </li>
                    <!-- <li class="mx-3 mb-1 rounded ">
                    <a href="https://shop.muatainguyen.com/client/icon-facebook" class="d-block p-2 text-decoration-none">
                        <img src="https://shop.muatainguyen.com/public/assets/img/icon-facebook.png" height="30" width="30"
                            class="me-3">Icon Facebook                    </a>
                </li> -->
                    <li class="mx-3 mb-1 rounded ">
                        <a href="https://shop.muatainguyen.com/client/ephotor"
                            class="d-block p-2 text-decoration-none">
                            <img
                                src="https://shop.muatainguyen.com/public/assets/img/ephotor.png"
                                height="30" width="30"
                                class="me-3">ePhotor </a>
                    </li>
                    <li class="mx-3 mb-1 rounded ">
                        <a
                            href="https://shop.muatainguyen.com/client/batchwatermark"
                            class="d-block p-2 text-decoration-none">
                            <img
                                src="https://shop.muatainguyen.com/public/assets/img/batchwatermark.png"
                                height="30" width="30"
                                class="me-3">Chèn Watermark </a>
                    </li>

                </ul>
                <div class="menu-divider border-top p-3">
                    <span class="px-2">Hỗ trợ</span>
                </div>
                <ul class="pb-3">
                    <li class="mx-3 mb-1 rounded ">
                        <a href="https://shop.muatainguyen.com/client/faq"
                            class="d-block p-2 text-decoration-none">
                            <img
                                src="https://shop.muatainguyen.com/public/assets/img/question-mark.png"
                                height="30" width="30"
                                class="me-3">FAQ </a>
                    </li>
                    <li class="mx-3 mb-1 rounded ">
                        <a href="https://shop.muatainguyen.com/client/contact"
                            class="d-block p-2 text-decoration-none">
                            <img
                                src="https://shop.muatainguyen.com/public/assets/img/contact.png"
                                height="30" width="30"
                                class="me-3">Liên hệ </a>
                    </li>
                </ul>
            </nav>
        </div>

        <script>
function changeLanguage(id) {
    $.ajax({
        url: "https://shop.muatainguyen.com/ajaxs/client/changeLanguage.php",
        method: "POST",
        dataType: "JSON",
        data: {
            id: id
        },
        success: function(respone) {
            if (respone.status == 'success') {
                cuteToast({
                    type: "success",
                    message: respone.msg,
                    timer: 5000
                });
                location.reload();
            } else {
                cuteAlert({
                    type: "error",
                    title: "Error",
                    message: respone.msg,
                    buttonText: "Okay"
                });
            }
        },
        error: function() {
            alert(html(response));
            history.back();
        }
    });
}
</script>
        <script>
function changeCurrency(id) {
    $.ajax({
        url: "https://shop.muatainguyen.com/ajaxs/client/changeCurrency.php",
        method: "POST",
        dataType: "JSON",
        data: {
            id: id
        },
        success: function(respone) {
            if (respone.status == 'success') {
                cuteToast({
                    type: "success",
                    message: respone.msg,
                    timer: 5000
                });
                location.reload();
            } else {
                cuteAlert({
                    type: "error",
                    title: "Error",
                    message: respone.msg,
                    buttonText: "Okay"
                });
            }
        },
        error: function() {
            alert(html(response));
            history.back();
        }
    });
}
</script>

<div id="content">
    <div class="p-3 d-flex align-items-center justify-content-center" style="min-height: 100vh">
        <div class="card shadow-sm col-12 col-md-6">
            <h5 class="card-header p-4">Quên mật khẩu</h5>
            <div class="card-body p-4">
                <div class="form-group mb-3">
                    <label class="form-label">Địa chỉ Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Nhập địa chỉ email đã đăng ký">
                </div>
                <div class="form-group mb-3" style="display:none;">
                    <center>
                        <div class="g-recaptcha" id="g-recaptcha-response" data-sitekey=""></div>
                    </center>
                </div>
                <button id="btnForgotPassword" class="btn btn-primary w-100 d-flex align-items-center justify-content-center" type="button">
                    <strong class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></strong>
                    <span>Tìm mật khẩu<span>
                </span></span></button>
            </div>
            <div class="card-footer p-4 text-center">
                Đã có tài khoản? <a class="text-decoration-none" href="login.html">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>